@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}


audio{
  display: none;
}

a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: darkgrey;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: crimson;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: white;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(./img/master.png);
	background-size: cover;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #ECE5C6;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	/*font-size: 50px;*/
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #ec9f2e;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* choice container */
/*Button Three*/
#choice {
	/*background-image: url(./img/choice.jpg);*/
	background-size: cover;
	position: relative;
	z-index: 1;
}
#choice::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #ECE5C6;
	opacity: 0.7;
	z-index: -1;
}
#hero .choice {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
.button-three {
	margin-bottom: 30px;
	font-size: 20px;
	color: white;
	position: relative;
	background-color: crimson;
	border: none;
	padding: 20px;
	width: 300px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	display: block;	
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: 0.3s ease;
	border-radius: 10px;
}

.button-three:hover{
	background:#fff;
	box-shadow:0px 2px 10px 5px #97B1BF;
	color:#000;
}

.button-three:after {
	content: "";
	background: #f1c40f;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
}

.button-three:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

/*sell start*/

#sell,#buy {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ECE5C6;
	opacity: 0.7;
}
#sell .container {
	max-width: 600px;
	width: 90%;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000020;
	border-radius: 8px;
	min-height: 60vh;
}
.step {
	display: none;
}
.step.active {
	display: block;
}
.form-group {
	width: 100%;
	margin-top: 20px;
}
.form-group input {
	width: 100%;
	border: 1.5px solid rgba(128, 128, 128, 0.418);
	padding: 5px;
	font-size: 18px;
	margin-top: 5px;
	border-radius: 4px;
}
.button-three {
	margin-bottom: 30px;
	font-size: 20px;
	color: white;
	position: relative;
	background-color: crimson;
	border: none;
	padding: 20px;
	width: 300px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	display: block;	
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: 0.3s ease;
	border-radius: 10px;
}



button.next-btn,
button.previous-btn,
button.submit-btn {
	margin-bottom: 30px;
	font-size: 20px;
	color: white;
	position: relative;
	background-color: crimson;
	border: none;
	padding: 20px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	display: block;	
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	transition: 0.3s ease;
	border-radius: 10px;
	float: right;
	margin-top: 20px;
	padding: 10px 30px;
	border: none;
	outline: none;
	background-color: crimson;
	font-family: "Montserrat";
	font-size: 10px;
	cursor: pointer;
	/* text-align: right; */
}


.next-btn:hover{
	background:#fff;
	box-shadow:0px 2px 10px 5px #97B1BF;
	color:#000;
}

.submit-btn:hover{
	background:#fff;
	box-shadow:0px 2px 10px 5px #97B1BF;
	color:#000;
}

button.previous-btn {
	float: left;
	margin-right: 50px;
}



/*sell end*/

.wrap {
	width: 800px;
	height: 400px;
	position: relative;
}

.list {
	width: 800px;
	height: 400px;
	position: relative;
	padding-left: 0px;
}

.item {
	width: 100%;
	height: 100%;
	list-style: none;
	position: absolute;
	left: 0;
	opacity: 0;
	transition: all .8s;
}

.item.active {
	z-index: 10;
	opacity: 1;
}

.btn {
	width: 60px;
	height: 100px;
	z-index: 100;
	top: 240px;
	position: absolute;
	border: 0;
	border-radius: 50%;
}

#leftBtn {
	left: 0px;
}

#rightBtn {
	right: 0px;
}

.pointList {
	list-style: none;
	padding-left: 0px;
	position: absolute;
	right: 350px;
	bottom: 60px;
	z-index: 200;
}

.point {
	width: 10px;
	height: 10px;
	background-color: antiquewhite;
	border-radius: 100%;
	float: left;
	margin-right: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: slategray;
	cursor: pointer;  
}

.point.active{
	background-color: cadetblue;
}


/

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: crimson;
		margin-top: 30px;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		margin-top: 30px;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */



/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
/* header */
#header .hamburger {
	display: none;
}
#header .nav-list ul {
	position: initial;
	display: block;
	height: auto;
	width: fit-content;
	background-color: transparent;
}
#header .nav-list ul li {
	display: inline-block;
}
#header .nav-list ul li a {
	font-size: 1.8rem;
}
#header .nav-list ul a:after {
	display: none;
}
/* End header */

#services .service-bottom .service-item {
	flex-basis: 22%;
	margin: 1.5%;
}
}
/* End  Media Query For Desktop */

.bbs{margin: 0 auto; width: 600px; position: relative;}
header{padding: 5px 0; border-bottom: 1px solid #cecece;}
header span{display:inline-block; width: 220px; height: 50px; color: #fff; background: crimson; font-size: 18px; font-weight: bold; text-align: center;line-height: 50px; border-radius: 8px; cursor: pointer;}
.post{padding: 10px; border-radius:5px;  position: absolute; background: #ECE5C6; border: 2px crimson solid; width: 482px; left: 225px; top:25px; padding: 10px; font-size: 14px; z-index: 999999; display: none;}
.post .title{width: 450px; height:30px; line-height: 30px; display: block; border: 1px #cecece solid; margin-bottom: 10px;}
.post select{width: 200px; height: 30px;}
.post .content{width: 450px; height: 150px; display: block; margin: 10px 0;border: 1px #cecece solid;}
.post .btn{width: 160px; height: 35px; color: #fff; background:crimson; border: none; font-size: 14px; font-weight: bold; text-align: center; line-height: 35px; border-radius: 8px; cursor: pointer;top: 255px;}

.bbs section ul li{padding: 8px 10px; border-bottom: 1px #999999 dashed;
	overflow: hidden;}
.bbs section ul li div{float: left; width: 60px; margin-right: 10px;}
.bbs section ul li div img{ border-radius:50%; width: 50px; height:50px; }
.bbs section ul li h1{float: left; width: 520px; font-size: 16px; line-height: 35px;}
.bbs section ul li p{color: #666666; line-height: 25px; font-size: 12px; }
.bbs section ul li p span{padding-right:20px;}

/*sell section*/

.label-on-left::part(form-control) {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.label-on-left::part(form-control-label) {
	flex: 0 0 auto;
	width: 60px;
	text-align: right;
}

.label-on-left::part(form-control-input) {
	flex: 1 1 auto;
}

/*buy section*/

.card-overview {
	max-width: 400px;
	margin: 0px 285px;
}

.card-overview small {
	color: var(--sl-color-neutral-500);
}

.card-overview [slot='footer'] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-overview [slot='image']{
	width: 230px;
	height: 270px;
	background-repeat: no-repeat;
}

.card-overview [slot='image']:hover{
	transform: scale(1.5); 
}

.card-overview strong:hover{
	font-size: 20px;
}

/*community*/
#community{
	background-color: #ECE5C6;
	opacity: 0.7;
}

#community img:hover{
	transform: scale(1.5); 
}

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
svg {
	font-family: 'Russo One', sans-serif;
	position: relative;; 
	width: 100%; height: 100%;
}
svg text {
	text-transform: uppercase;
	animation: stroke 5s infinite alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 140px;
}
@keyframes stroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: crimson;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(72,138,20,0); stroke: crimson; }
	80%  {fill: rgba(72,138,20,0); stroke: crimson; stroke-width: 3; }
	100% {
		fill: crimson; stroke: crimson; 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}